{% extends "layout/layout.html" %}

{% block body_begin %}
<div class="probootstrap-loader"></div>
{% endblock %}

{% block content %}
<div class="probootstrap-section">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 mb40 text-center">
        <h2>過度轉譯, 2023</h2>
        <p>將毫無文字的圖片作 AI 文字辨識，卻識別出了文字內容，這是潛意識還是瘋狂？</p>
      </div>
      <div class="col-md-6">
        <p></p>
      </div>
      <div class="col-md-6">
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/arts/過度轉譯-2023/0.png')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/arts/過度轉譯-2023/small/0.png')  }}" class="img-responsive">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/arts/過度轉譯-2023/1.png')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/arts/過度轉譯-2023/small/1.png')  }}" class="img-responsive">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/arts/過度轉譯-2023/2.png')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/arts/過度轉譯-2023/small/2.png')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/arts/過度轉譯-2023/3.png')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/arts/過度轉譯-2023/small/3.png')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/arts/過度轉譯-2023/4.png')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/arts/過度轉譯-2023/small/4.png')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/arts/過度轉譯-2023/5.png')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/arts/過度轉譯-2023/small/5.png')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/arts/過度轉譯-2023/6.png')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/arts/過度轉譯-2023/small/6.png')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/arts/過度轉譯-2023/7.png')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/arts/過度轉譯-2023/small/7.png')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/arts/過度轉譯-2023/8.png')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/arts/過度轉譯-2023/small/8.png')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/arts/過度轉譯-2023/9.png')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/arts/過度轉譯-2023/small/9.png')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}