{% extends "layout/layout.html" %}

{% block body_begin %}
<!-- <embed src="{{ url_for('static', filename='audio/overdose.mp3') }}" loop="true" autostart="true" width="2" height="0" />
<div class="probootstrap-loader"></div> -->
{% endblock %}

{% block content %}
<div class="probootstrap-section">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 mb40 text-center">
        <h2>衛武營</h2>
        <p>我是悠游在珊瑚中的魚, 2024/12</p>
        <!-- <p><a href="https://youtu.be/WraSrTWhSyA?si=MjlAfgw5nYfMEu_z" target="_blank">Overdose - なとり</a></p> -->
        <!-- <audio controls>
            <source src="{{ url_for('static', filename='audio/overdose.mp3') }}" type="audio/mpeg">
        </audio> -->
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/01.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/01.jpg')  }}" class="img-responsive">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/02.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/02.jpg')  }}" class="img-responsive">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/03.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/03.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/04.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/04.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/17.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/17.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/05.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/05.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/06.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/06.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/07.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/07.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/08.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/08.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/09.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/09.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/10.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/10.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/11.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/11.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/12.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/12.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/13.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/13.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
      <div class="col-md-6">
        <!-- <p><a href="{{ url_for('static', filename='img/archis/衛武營/15.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/15.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p> -->
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/14.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/14.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/16.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/16.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <!-- <p><a href="{{ url_for('static', filename='img/archis/衛武營/15.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/15.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p> -->
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/archis/衛武營/15.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/15.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p>
        <!-- <p><a href="{{ url_for('static', filename='img/archis/衛武營/14.jpg')  }}" class="image-popup">
          <img src="{{ url_for('static', filename='img/archis/衛武營/14.jpg')  }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by uicookies.com">
        </a></p> -->
      </div>
    </div>
    
  </div>
</div>
{% endblock %}