{% extends "layout/layout.html" %}

{% block body_begin %}
<!-- <embed src="{{ url_for('static', filename='img/20210429/Casablanca.mp3') }}" loop="true" autostart="true" width="2" height="0" /> -->
<div class="probootstrap-loader"></div>
{% endblock %}

{% block content %}
<div class="probootstrap-section">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 mb40">
                <h2>建築是生活的容器</h2>
                <p>也是承載著人類情感與記憶的空間。它是時間的博物館，使人得以沉浸在瞬間以永恆，徘徊於歷史以縱深。</p>
            </div>
        </div>

        <div class="row probootstrap-gutter16">
            <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/archis/長福橋" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/archis/長福橋/cover.webp') }});">
                    <div class="probootstrap-photo-details">
                        <h2>長福橋的文化軌跡</h2>
                        <p>一個關於時間、價值觀和社會變遷的故事</p>
                    </div>
                </a>
            </div>
            <div class="col-md-8 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/photos/20210324" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/20210324/R0000309.jpg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>開著我的吉普車車去探險</h2>
                        <p>一路上遇見了許多有趣的動物, 2021</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row probootstrap-gutter16">
            <div class="col-md-5 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/photos/20210429" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/20210429/PXL_20210429_111123094.MP.jpeg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>中山北路七段藝廊</h2>
                        <p>超高解析的3D作品</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/img_5.jpg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>Man Captured</h2>
                        <p>Landscape</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/img_4.jpg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>Mountain with pines</h2>
                        <p>Landscape</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row probootstrap-gutter16">
            <div class="col-md-8 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/img_7.jpg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>Mountains</h2>
                        <p>Landscape</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/img_6.jpg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>Beautiful Sunset</h2>
                        <p>Landscape</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
