{% extends "layout/layout.html" %}

{% block body_begin %}
<!-- <embed src="{{ url_for('static', filename='audio/overdose.mp3') }}" loop="true" autostart="true" width="2" height="0" /> -->
<div class="probootstrap-loader"></div>
{% endblock %}

{% block content %}
<div class="probootstrap-section">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 mb40">
                <h2>獨孤九劍</h2>
                <p>ART。</p>
            </div>
        </div>

        <div class="row probootstrap-gutter16">
            <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/arts/過度轉譯-2023" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/arts/過度轉譯-2023/cover.png') }});">
                    <div class="probootstrap-photo-details">
                        <h2>過度轉譯</h2>
                        <p>過度轉譯</p>
                    </div>
                </a>
            </div>
            <div class="col-md-8 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/arts/vincent" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='/img/梵谷簡介/梵谷的淡水小鎮.webp') }});">
                    <div class="probootstrap-photo-details">
                        <h2>梵谷簡介</h2>
                        <p>簡介梵谷的生平與作品</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row probootstrap-gutter16">
            <div class="col-md-5 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/photos/20210429" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/20210429/PXL_20210429_111123094.MP.jpeg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>中山北路七段藝廊</h2>
                        <p>超高解析的3D作品</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/img_5.jpg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>Man Captured</h2>
                        <p>Landscape</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/img_4.jpg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>Mountain with pines</h2>
                        <p>Landscape</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row probootstrap-gutter16">
            <div class="col-md-8 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/img_7.jpg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>Mountains</h2>
                        <p>Landscape</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
                <a href="/" class="img-bg"
                    style="background-image: url({{ url_for('static', filename='img/img_6.jpg') }});">
                    <div class="probootstrap-photo-details">
                        <h2>Beautiful Sunset</h2>
                        <p>Landscape</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
