{% extends "layout/layout.html" %}

{% block body_begin %}
<div class="probootstrap-loader"></div>
{% endblock %}

{% block content %}
<div class="probootstrap-section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 mb40">
        <h2>獨孤九劍</h2>
        <p>
          鏡頭如眼，捕光捉影，
          成像瞬間，凝風固景。<br>
          華燦一閃，寰宇入框，
          萬物生息，無聲訴情。<br>
          晨曦微露，雲霧繚繞，
          陽光穿透，班躍美妙。<br>
          繁星點點，霓虹藍調，
          夜色沉沉，心隨夢跳。<br>
          快門低響，時光結凝，
          瞬間絕美，永恆定形。<br>
          攝影作詩，光影是筆，
          採擷天地，物我兩靈。
        </p>
      </div>
    </div>

    <div class="row probootstrap-gutter16">
      <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
        <a href="/photos/20190419" class="img-bg"
          style="background-image: url({{ url_for('static', filename='img/20190419/cover.jpg') }});">
          <div class="probootstrap-photo-details">
            <h2>台灣工程之美</h2>
            <p>2019 攝影比賽</p>
          </div>
        </a>
      </div>
      <div class="col-md-8 probootstrap-animate" data-animate-effect="fadeIn">
        <a href="/photos/20210324" class="img-bg"
          style="background-image: url({{ url_for('static', filename='img/20210324/R0000309.jpg') }});">
          <div class="probootstrap-photo-details">
            <h2>開著我的吉普車車去探險</h2>
            <p>一路上遇見了許多有趣的動物, 2021</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row probootstrap-gutter16">
      <div class="col-md-5 probootstrap-animate" data-animate-effect="fadeIn">
        <a href="/photos/20210429" class="img-bg"
          style="background-image: url({{ url_for('static', filename='img/20210429/PXL_20210429_111123094.MP.jpeg') }});">
          <div class="probootstrap-photo-details">
            <h2>中山北路七段藝廊</h2>
            <p>超高解析的3D作品</p>
          </div>
        </a>
      </div>
      <div class="col-md-3 probootstrap-animate" data-animate-effect="fadeIn">
        <a href="/photos/2017參賽作品" class="img-bg" style="background-image: url({{ url_for('static', filename='img/photos/2017參賽作品/small/不丹的回憶-許銘芳.jpg') }});">
          <div class="probootstrap-photo-details">
            <h2>2017 參賽作品</h2>
            <p></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
        <a href="/" class="img-bg" style="background-image: url({{ url_for('static', filename='img/img_4.jpg') }});">
          <div class="probootstrap-photo-details">
            <h2>Mountain with pines</h2>
            <p>Landscape</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row probootstrap-gutter16">
      <div class="col-md-8 probootstrap-animate" data-animate-effect="fadeIn">
        <a href="/" class="img-bg" style="background-image: url({{ url_for('static', filename='img/img_7.jpg') }});">
          <div class="probootstrap-photo-details">
            <h2>Mountains</h2>
            <p>Landscape</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
        <a href="/" class="img-bg" style="background-image: url({{ url_for('static', filename='img/img_6.jpg') }});">
          <div class="probootstrap-photo-details">
            <h2>Beautiful Sunset</h2>
            <p>Landscape</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock %}