{% extends "layout/layout.html" %}

{% block body_begin %}
<div class="probootstrap-loader"></div>
{% endblock %}

{% block content %}  
<div class="probootstrap-section">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 mb40 text-center">
        <h2>開著我的吉普車車去探險</h2>
        <p>一路上遇見了許多有趣的動物, 2021</p>
      </div>
      <div class="col-md-6">
        <p>非洲的野生草原，或是亞馬遜的神秘雨林，一直是我嚮往的大自然，還沒能親身體驗，便將家裡的動物玩偶帶到山林中幻想一番，也用了不同心境遊覽了常去的山徑，黃色吉普車特地上網採購，如果是真的車該有多好。</p>    
      </div>
      <div class="col-md-6">
        <p>常反問自己為何要拍這樣的主題，大概歸納以下幾點：容易掌控，小小玩具任我玩弄於股掌，十分滿足童心；攝影與登山合而為一，雙重快樂一次享受，何樂而不為？最後，其實是自己想這樣子的悠遊於大自然中，期待有朝一日。</p>    
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/20210324/R0000312.jpg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210324/R0000312.jpg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210324/R0000316.jpg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210324/R0000316.jpg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210324/R0000326.jpg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210324/R0000326.jpg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210324/R0000340.jpg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210324/R0000340.jpg') }}" class="img-responsive"></a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/20210324/R0000327.jpg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210324/R0000327.jpg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210324/R0000332.jpg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210324/R0000332.jpg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210324/R0000338.jpg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210324/R0000338.jpg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210324/R0000320.jpg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210324/R0000320.jpg') }}" class="img-responsive"></a></p>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}
