{% extends "layout/layout.html" %}

{% block body_begin %}
<embed src="{{ url_for('static', filename='img/20210429/Casablanca.mp3') }}" loop="true" autostart="true" width="2" height="0" />
<div class="probootstrap-loader"></div>
{% endblock %}

{% block content %}  
<div class="probootstrap-section">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 mb40 text-center">
        <h2>中山北路七段藝廊</h2>
        <p>超高解析的3D作品, 2021</p>
        <audio controls>
            <source src="{{ url_for('static', filename='img/20210429/Casablanca.mp3') }}" type="audio/mpeg">
        </audio>
      </div>
      <div class="col-md-6">
        <p>信步走在中山北路七段，意外發現一家家的商店，彷佛一格格的藝術作品，活生生的動態展示眼前，馬路上頓時變得有趣了起來，看見了雅痞般的藝廊，隔壁竟宛如偏鄉麵店；精緻的餐館附近則出現一間貧民窟，整齊混亂夾雜，美麗醜陋並陳。</p>    
      </div>
      <div class="col-md-6">
        <p>天母街上的異國情調一向濃厚，無論是遇見何種髮色的路人，總覺得他們英文一定都很好，甚至連小孩也是如此。在天母的巷弄社區之間穿梭，發現房子是醜陋的，但心情是舒適的，無從苛責台灣建物的淺薄美學，畢竟這塊土地承載了太多歷史重荷。</p>    
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_095739985.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_095739985.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_095927489.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_095927489.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_100726105.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_100726105.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_100859948.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_100859948.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_101805086.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_101805086.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_101907678.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_101907678.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_105342074.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_105342074.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_111225145.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_111225145.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_111328225.MP.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_111328225.MP.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_111716346.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_111716346.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_111848842.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_111848842.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_111920395.MP.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_111920395.MP.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_112016693.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_112016693.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_112100613.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_112100613.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_112157927.MP.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_112157927.MP.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_112227646.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_112227646.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_105710703.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_105710703.jpeg') }}" class="img-responsive"></a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_100523947.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_100523947.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_105446025.MP.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_105446025.MP.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_105459373.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_105459373.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_105553452.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_105553452.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_105859073.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_105859073.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_110102451.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_110102451.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_110302162.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_110302162.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_110400996.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_110400996.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_110524030.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_110524030.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_101734263.MP.jpg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_101734263.MP.jpg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_110731711.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_110731711.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_110816078.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_110816078.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_110838930.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_110838930.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_110905423.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_110905423.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_111012115.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_111012115.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_111104072.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_111104072.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_112357342.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_112357342.jpeg') }}" class="img-responsive"></a></p>
        <p><a href="{{ url_for('static', filename='img/20210429/PXL_20210429_111123094.MP.jpeg') }}" class="image-popup"><img src="{{ url_for('static', filename='img/20210429/PXL_20210429_111123094.MP.jpeg') }}" class="img-responsive"></a></p>
      </div>
    </div>
    
  </div>
</div>

{% endblock %}
