<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>丌果</title>
<meta name="description" content="The world of Gigoo.">
<meta name="keywords" content="Photo, Art">

<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

<!--[if lt IE 9]>
  <script src="{{ url_for('static', filename='js/vendor/html5shiv.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/respond.min.js') }}"></script>
<![endif]-->
