<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>uiCookies:Explorer &mdash; Free Bootstrap Theme, Free Responsive Bootstrap Website Template</title>
<meta name="description" content="Free Bootstrap Theme by uicookies.com">
<meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

<!--[if lt IE 9]>
  <script src="{{ url_for('static', filename='js/vendor/html5shiv.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/respond.min.js') }}"></script>
<![endif]-->
